.container-post {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.container-post h3 {
  color: #33691e;
  font-size: 22px;
  line-height: 32px;
  text-transform: uppercase;
}

.post {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 600px;
  border: solid 1px #e65100;
  background-color: #eb7333;
  border-radius: 7px;
  margin: 8px;
  padding: 10px;
  box-shadow: 5px 5px 5px rgb(0 0 0 / 30%);
}

.titulo {
  font-size: 20px;
  color: #fff;
  margin: 8px auto;
  line-height: 30px;
}

.subtitulo {
  color: #fff;
  font-size: 14px;
  line-height: 18px;
  margin: 8px auto;
}
.img {
  width: 100%;
}
.btn {
  height: 40px;
  width: 100%;
  display: flex;
  border-radius: 5px;
  border: solid 1px #fff;
  align-items: center;
  justify-content: center;
  padding: 5px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
}
.btn:hover {
  text-decoration: underline;
  background-color: #fff;
  color: #eb7333;
}
@media (max-width: 767px) {
  .post {
    width: 92%;
  }
}
